<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>194385217757-slrjg7j6b6lfc4ur70i8qs4ult36isc0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.194385217757-slrjg7j6b6lfc4ur70i8qs4ult36isc0</string>
	<key>API_KEY</key>
	<string>AIzaSyBMeND55772aFvxbCGHQpytUep-g5BBDM0</string>
	<key>GCM_SENDER_ID</key>
	<string>194385217757</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.onthree.app</string>
	<key>PROJECT_ID</key>
	<string>onthree-53f10</string>
	<key>STORAGE_BUCKET</key>
	<string>onthree-53f10.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:194385217757:ios:d24ed32cd01afa08e97334</string>
</dict>
</plist>